body {
    background-color: lightgreen;
    font-size: larger;
}

.Izquierda {
    background-color: green;
    position: absolute;
    height: 1145px;
    width: 30%;
}

img {
    height: 200px;
    width: 210px;
    border-radius: 50%;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.B {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.Derecha {
    position: absolute;
    height: 98vh;
    width: 60%;
    margin-left: 33%;
}

.C {
    height: 66vh;
    width: auto;
    margin-top: 30px;
}

#cono {
    margin-top: 10%;
}

a {
    color: black;
    margin-left: 5px;
    margin-bottom: 5px;
}

.experiencias {
    margin-top: -15%;
}

.form {
    height: 300px;
    width: 400px;
    margin-top: 5%;
    background-color: goldenrod;
    border-radius: 5px;
    animation: abajo 2s infinite;
}

.form {
    height: 300px;
    width: 400px;
    margin-top: 5%;
    background-color: goldenrod;
    border-radius: 5px;
    animation: arriba 2.5s infinite;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    border-radius: 5px;
}

#mensa {
    border-radius: 5px;
    background-color: white;
}

#mensa:hover {
    transform: scale(1.05);
}

@keyframes arriba {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes abajo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}